<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VWeb</title>
    <link rel="stylesheet" href="/show.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div>

        <div class="wrapper">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">VWed</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/movies">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/movies/favorite">Favorites</a>
                      </li>
                      
                      
                    </ul>
                    <form method="post" action="/home">
                    <input type="text" name="SearchMovie">
                    <input type="submit">
                    </form>
                  </div>
                </div>
              </nav>

            <div class="card" style="background-color: #000000;color:hsl(0, 100%, 100%);">
                
                <div class="card-header">
                <center><h2><%= kk.Title%></h2></center>
                </div>

                <div class="card-body">
                  <center><img style="max-width:18em;max-height:18em"src="<%= kk.Poster %>"></center>
                  Your Note:
                  <br>
                  <br>
                  <p><%=kk.note%></p>
                  <br>
                  <br>
                  Status: 
                  
                  <%if(kk.seen==true){ %>
                    Seen
                  <%}else{ %>
                      Yet to Watch
                  <%}%>
                  <br>
                  <br>
                    <blockquote class="blockquote mb-0">
                        
                        
                        <footer class="blockquote-footer">Created <cite title="Source Title"><%= kk.created %></cite></footer>
                    </blockquote>
                </div>

                <div class="last-part">
                    <a href="/movies/<%=kk._id%>/edit">
                        <button type="button" class="btn btn-warning">Edit note</button>
                    </a>
                    <br>
                    <form method="POST" action="/movies/<%=kk._id%>?_method=DELETE" class="delete">
                        <button type="submit" class="btn btn-danger" >Remove from Favorites</button>
                    </form>
                </div>
                
                <div class="card-footer text-muted">
                  <center><footer class="blockquote-footer"><h6>Released in </h6><cite title="Source Title"><h6><%= kk.Year %></h6></cite></footer></center>
                </div>
            </div>

        </div>

    </div>
</body>
</html>